<section class="">
    <div class="row">
        <div class="col-8">
            <div class="scroll">
                <div class="choose-category mt-4">
                    <h3 class="header-3">Profile</h3>
                    <hr class="divider">
                    <div class="container mt-2">
                        <div class="card p-4 shadow-lg border-0">
                            <form>

                                <div class="row mb-4 mt-4">
                                    <div class="col">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="form6Example1" class="form-control" />
                                            <label class="form-label header-3" for="form6Example1">First name</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="form6Example2" class="form-control" />
                                            <label class="form-label header-3" for="form6Example2">Last name</label>
                                        </div>
                                    </div>
                                </div>


                                <!-- Text input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="text" id="form6Example4" class="form-control" />
                                    <label class="form-label header-3 mt-2" for="form6Example4">Address</label>
                                </div>

                                <!-- Email input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="email" id="form6Example5" class="form-control" />
                                    <label class="form-label header-3 mt-2" for="form6Example5">Email</label>
                                </div>

                                <!-- Number input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="number" id="form6Example6" class="form-control" />
                                    <label class="form-label header-3" for="form6Example6">Phone</label>
                                </div>

                                <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Save
                                    Changes</button>
                            </form>
                        </div>

                    </div>

                </div>


            </div>

        </div>
        <div class="col-4">
            <h3 class="header-3 mt-4">Details</h3>
            <hr class="divider">
            <div class="text-center">
                <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="w-50 profile" alt="">
            </div>
            <hr>
            <div class="card shadow-lg border-0 p-5">
                <div class="details mb-3">
                    <h6 class="header-3">Name: 
                         <span class="mx-3 text-dark">Marie Curie</span>
                    </h6>

                </div>
                <div class="details mb-3">
                    <h6 class="header-3">Email:
                        <span class="mx-3 text-dark">mariecurie@gmail.com</span>
                    </h6>

                </div>
                <div class="details mb-3">
                    <h6 class="header-3">Phone:
                        <span class="mx-3 text-dark">+0945324563</span>
                    </h6>

                </div>
                <div class="details mb-3">
                    <h6 class="header-3">Address:
                        <span class="mx-3 text-dark">Manila Philippines</span>
                    </h6>

                </div>
            </div>



        </div>


    </div>



</section>