.card-category{
    background-color: white;
    border: none;
  

}
.header-3{
 color: #ff5f61;
}
button{
 background-color: #ff5f61;
 color: white;
 border: none;
}
.img-special-menu{
  height: 5cm;
}