<section class="">
    <div class="row">
        <div class="col-8">
            <div class="scroll">
                <div class="card  border-0 p-3 mt-3 main-cards">
                    <h1 class="fw-bold p-2 mt-3 header1">Explore our menu and discover your next favorite dish. </h1>
                    <h3 class="text-white fw-light header-3 mt-2">Have you ever wondered what makes a meal truly unforgettable?
                        At
                        [Your Brand], we believe it’s the
                        perfect blend of fresh ingredients and culinary passion.</h3>
                    <div class="mt-2">
                        <button class="btn btn-primary orderbtn"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Order Now</button>
                    </div>
                </div>
                <div class="choose-category mt-4">
                    <h3 class="header-3">Choose Category</h3>
                    <hr class="divider">
                    <div class="container mt-2">
                        <div class="row mt-2">
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1 shadow-lg">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/fries.png" alt="fries">
                                        Fries
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/burger.png" alt="fries">
                                        Burger
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/pizza.png" alt="fries">
                                        Pizza
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/donut.png" alt="sweet">
                                        Sweet
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/drink.png" alt="fries">
                                        Drinks
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/snack.png" alt="fries">
                                        Snacks
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/salad.png" alt="fries">
                                        Vegetables Salad
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 category">
                                <div class="card card-block   border-1">
                                    <div class="text-center">
                                        <img src="../../../assets/img/category/fried.png" alt="fries">
                                        Fried
                                    </div>

                                </div>
                            </div>



                        </div>

                    </div>

                </div>
                <div class=" container mt-4">
                    <h3 class="header-3">Special Menus</h3>
                    <hr class="divider">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card card-special-menu shadow-lg">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                    data-mdb-ripple-color="light">
                                    <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        class="img-special-menu w-100" />

                                </div>
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <h5 class="card-title mb-3">Pasta-with-tomato</h5>
                                    </a>
                                    <h6 class="mb-3">$61.99</h6>
                                    <button class="btn btn-primary addbtn btn-sm mt-1"> <i
                                            class="fa fa-shopping-basket fa-fw me-2" aria-hidden="true"></i>Add</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card  card-special-menu shadow-lg">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                    data-mdb-ripple-color="light">
                                    <img src="https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg?auto=compress&cs=tinysrgb&w=600"
                                        class="img-special-menu w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <h5 class="card-title mb-3">Pasta</h5>
                                    </a>
                                    <h6 class="mb-3">$61.99</h6>
                                    <button class="btn btn-primary addbtn btn-sm mt-1"> <i
                                            class="fa fa-shopping-basket fa-fw me-2" aria-hidden="true"></i>Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card  card-special-menu shadow-lg">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                    data-mdb-ripple-color="light">
                                    <img src="https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&w=600"
                                        class="img-special-menu w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <h5 class="card-title mb-3">Stake</h5>
                                    </a>
                                    <h6 class="mb-3">$61.99</h6>
                                    <button class="btn btn-primary addbtn btn-sm mt-1"> <i
                                            class="fa fa-shopping-basket fa-fw me-2" aria-hidden="true"></i>Add</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-4 p-2 shadow-lg"> 
            <div class="m-4 "> 
                <h5 class="mt-5 text-center header-3">Current Orders</h5>
                <hr class="divider">
                <div class="   h-100  ">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="card rounded-3 mb-4 current-order shadow-lg">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src=" https://images.pexels.com/photos/3780469/pexels-photo-3780469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2 fs-6">Pasta</p>


                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="2" type="number"
                                            class="form-control form-control-sm col-md-2" />

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <p class="mb-0">$499.00</p>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-3 mb-4 current-order  shadow-lg">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src=" https://images.pexels.com/photos/1907244/pexels-photo-1907244.jpeg?auto=compress&cs=tinysrgb&w=600"
                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2 fs-6">Ramen</p>


                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="2" type="number"
                                            class="form-control form-control-sm col-md-2" />

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <p class="mb-0">$499.00</p>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-3 mb-4 current-order  shadow-lg">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src=" https://images.pexels.com/photos/23359721/pexels-photo-23359721/free-photo-of-fried-shallots-with-parsley.jpeg?auto=compress&cs=tinysrgb&w=600"
                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2 fs-6">Fried-shallots-with-parsley</p>


                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="2" type="number"
                                            class="form-control form-control-sm col-md-2" />

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <p class="mb-0">$499.00</p>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-3 mb-4 current-order  shadow-lg">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src=" https://images.pexels.com/photos/23897672/pexels-photo-23897672/free-photo-of-curry-chicken-in-bowl.jpeg?auto=compress&cs=tinysrgb&w=600"
                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2 fs-6">Chicken Curry</p>


                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="2" type="number"
                                            class="form-control form-control-sm col-md-2" />

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <p class="mb-0">$499.00</p>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>

            </div>
            <div class="payment-method p-5 bg-white shadow-lg card border-0">
                <h3 class="header-3 mb-3 text-center">Payment Method</h3>
                <div class="row  text-center">
                    <div class="col-md-4 col-sm-6 ">
                        <div class="p-2   shadow-lg"> 
                            <div class="text-center">
                                <i class="fas fa-usd" aria-hidden="true"></i> Cash
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="p-2 shadow-lg"> 
                            <div class="text-center">
                                <i class="fas fa-google-wallet" aria-hidden="true"></i> E WALLET
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="p-2 shadow-lg"> 
                            <div class="text-center">
                                <i class="fas fa-credit-card-alt" aria-hidden="true"></i> Debit Card
                            </div>

                        </div>
                    </div>
                    <div class="mt-2 ">
                        <button class="btn btn-primary addbtn col-md-12 ">Continue to Payment</button>
                    </div>
                </div>



            </div>

        </div>
    </div>



</section>