<div class="fries-container">
    <div class=" container mt-4">
        <div class="shadow-lg card card-category mb-2 p-2">
            <h3 class="header-3"><img src="../../../assets/img/category/burger.png" alt="" width='40px'>Burger</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />

                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/2089717/pexels-photo-2089717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/1600727/pexels-photo-1600727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/750073/pexels-photo-750073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />

                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/2282532/pexels-photo-2282532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/551991/pexels-photo-551991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>