<div class="fries-container">
    <div class=" container mt-4">
        <div class="shadow-lg card card-category mb-2 p-2">
            <h3 class="header-3"><img src="../../../assets/img/category/drink.png" alt="" width='40px'>Drinks</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />

                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/2789328/pexels-photo-2789328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/1189261/pexels-photo-1189261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/169391/pexels-photo-169391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />

                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/1148215/pexels-photo-1148215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  card-special-menu shadow-lg">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="https://images.pexels.com/photos/878992/pexels-photo-878992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="img-special-menu w-100" />
                        <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h6 class="mb-3">$61.99</h6>
                        <button class="btn btn-primary addbtn btn-sm mt-1"> <i class="fa fa-shopping-basket fa-fw me-2"
                                aria-hidden="true"></i>Add</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>